<!DOCTYPE html>
<html lang="ko">
<head>
    <title>응급실 검색</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="css/common.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
<div id="wrapper" class="main">
    <div class="section">
        <header>
            <div class="btn_top">
                {{#if isAuthenticated}}
                    <a href="/mypage">
                        <img src="/images/mypage.png" alt="My Page" class="btn-img">
                    </a>
                {{else}}
                    <button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <img src="/images/login.png" alt="Login" class="btn-img" />
                    </button>
                {{/if}}
            </div>

            <div class="main-ti">
                <h1>가까운 응급실 검색 <br/>병원 통합 검색</h1>
                <p>주소를 입력해주세요. 주소와 가장 가까운 10km 이내 응급실을 알려드립니다.</p>
            </div>

        </header>
        <div id="contents">
            <div class="search_main">
                <div>
                    <section class="intro">
                        <div class="mask d-flex align-items-center">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table table-hover mb-0">
                                                        <thead>
                                                        <tr>
                                                            <th scope="col">응급실</th>
                                                            <th scope="col">주소</th>
                                                            <th scope="col">거리</th>
                                                            <th scope="col">길안내</th>
                                                            <th scope="col">로드뷰</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {{#each outputFormList}}
                                                            <tr>
                                                                <td><a href="/emergency/{{emergencyName}}">{{emergencyName}}</a></td>  <!-- emergencyName을 사용하여 링크 -->
                                                                <td>{{emergencyAddress}}</td>
                                                                <td>{{distance}}</td>
                                                                <td><a href="{{directionUrl}}">바로가기</a></td>
                                                                <td><a href="{{roadViewUrl}}">바로가기</a></td>
                                                            </tr>
                                                        {{/each}}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Login</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <a href="/oauth2/authorization/google">
                        <img src="/images/googlelogin.png"style="width: 40%; margin: 30px auto; display: block;"/>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="bg">
</div>
</div>


</body>
</html>